
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  cursor: none;
}

@font-face {
  font-family: 'gilroy';
  src: url('/src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('/src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'gilroy';
  src: url('/src/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  /*font-family: 'Inter', sans-serif;*/
}

* {
  pointer-events: auto;
}

.circle {
  pointer-events: none;
}

@keyframes arrow-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-arrow {
  animation: arrow-bounce 1s infinite;
}

